# common
DEBUG = True

# chat-bot
HUGGINGFACEHUB_API_TOKEN = {your_huggingface_api_token}
QUESTION_ANSWERING_MODEL_ID = (
    "api_models/https://api-inference.huggingface.co/models/google/flan-t5-xxl"
)
EMBEDDING_MODEL_ID = "all-MiniLM-L6-v2"
INDEX_NAME = "index"
INDEX_REPO_ID = "i23"
USE_DOCS_FOR_CONTEXT = True
ADD_SOURCES_TO_RESPONSE = False
USE_MESSAGES_IN_CONTEXT = True
NUM_RELEVANT_DOCS = 3

# API
SECRET = {generate_django_secret}
SUPERUSER_USERNAME = "john"
SUPERUSER_EMAIL = "x@example.com"
SUPERUSER_PASSWORD = "#123456"
DB_ENGINE = "django.db.backends.postgresql"
DB_HOST = "cs-db"
DB_PORT = ""
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "smtp.gmail.com"
EMAIL_HOST_USER = {you_user}
EMAIL_HOST_PASSWORD = {your_password}
EMAIL_PORT = 587
CELERY_BROKER_URL = "redis://cs-redis:6379/0"
CELERY_RESULT_BACKEND = "redis://cs-redis:6379/0"

# social auth
GOOGLE_CLIENT_ID = {google_client_id}
GOOGLE_SECRET = {google_secret}
GITHUB_CLIENT_ID = {github_client_id}
GITHUB_SECRET = {google_secret}
